# use StdEncryptPasswordDataSourceFactory
secret.key=hoge
# use KmsEncryptPasswordDataSourceFactory
bucket.name=[bucketName]
s3.region=ap-northeast-1
key.name=key
kms.endpoint=https://kms.ap-northeast-1.amazonaws.com

